/* Variables */

:root {
  --black_substitute: #06112d;
}

/* General Paramters */

.top {
  padding: 25px;
  height: 72vh;
  display: flex;
  flex-direction: column;
}

html {
  background: #fbf8f1;
}
/* Header */

.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #585858;
  padding: 25px;
  margin-bottom: 15px;
  padding: 0;
  flex-shrink: 0;
}
.primary-header {
  font-size: 24px;
  font-family: "Roboto";
  font-weight: 700;
  margin: 16px 0;
  color: var(--black_substitute);
  flex-shrink: 0;
}

/* Task List */

/* 
TO HIDE SCROLL BAR:
https://stackoverflow.com/questions/16670931/hide-scroll-bar-but-while-still-being-able-to-scroll 
*/

.task-list,
.top {
  /* height: 60vh; */
  overflow-y: scroll;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.task-list::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.task-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #fff;
  border-radius: 15px;
  margin-bottom: 14px;
}

.task-id {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ff9575;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 12px;
  font-family: "Roboto";
  color: white;
  flex-shrink: 0;
  font-size: 10px;
}

.task-name {
  flex-grow: 1;
  font-family: Roboto;
  color: var(--black_substitute);
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit {
  margin: 0 12px;
}

.add-task {
  /* margin: 40px 0 0 0; */
  text-align: right;
  padding: 24px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 16px 0;
  height: 4vh;
}
