body {
  padding: 30px;
}

h1 {
  display: inline-block;
  margin-right: 20px;
}

/* i {
  margin-left: 60px;
} */

/* .list-group-item {
  padding: 20px;
  margin-top: 30px;
} */
/* 
.wheel-div,
#canvas {
  height: 100vh;
} */

#canvasContainer {
  position: relative;
}

#canvas {
  z-index: 1;
}

#prizePointer {
  position: absolute;
  left: 375px;
  top: -20px;
  z-index: 999;
}
